h1{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Single Day', cursive;
    text-align: center;
    color: #26ffe6;
    margin: 10%;
    
}
 h3{
    text-align: left;
    color:#26ffe6;
    margin-left: 85%;
    text-align: center;
 }

 body{
    background-color:#f3538b;
 }